.header {
    position: absolute;
    top: 0;
    left: 150px;
    display: flex;
    align-items: center;
    min-height: 100px;
    &__logo {

    }
    .menu {
        padding-top: 15px;
        &__list {
            display: flex;
            gap: 40px;
        }
        &__link {
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: #FFFFFF;
            transition: 300ms;
            &.active {
                text-decoration: underline;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media(max-width:576px){
    .header {
        left: 20px;
    }
}