.ourcoffee {
    min-height: 260px;
    background: url('../../resources/img/our-cofee-bg.png');
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: #FFFFFF;
        padding-top: 130px;
        text-align: center;
    }
}
.lable {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.about {
    padding: 70px 0px 60px;
    &__container {
        display: flex;
    }
    &__photo {
        flex: 0 0 400px;
        text-align: center;
    }
    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
    }
    &__decoration {
        margin-bottom: 25px;
    }
        
    &__text {
        max-width: 350px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #000000;
    }
}
.shop__container {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px;
    justify-content: space-between;
}
.navigation {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    gap: 30px;
    .search {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__lable {
            margin-right: 20px;
        }
        &__input{
            position: relative;
            input {
            background: #FFFFFF;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
            padding: 6px 36px;
            border-radius: 4px;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            border: 0;
            width: 100%;
            &:focus {
                outline: none;
            }
            }
        }
        &__icon {
            position: absolute;
            width: 25px;
            height: 25px;
            top: 2px;
            right: 5px;
            img {
                max-width: 100%;
            }
        }
    }
    .filter {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__lable {
            margin-right: 5px;
        }
        &__items {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &__item {
            cursor: pointer;
            padding: 7px 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            &:hover {
                transform: scale(0.9);
            }
            &.active {
                transform: scale(0.9);
            }
        }
    }
    .price {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .sort {
        select {
            margin-left: 10px;
        }
        select, option {
            padding: 5px 10px;
            background-color: #fff;
            outline: none;
            border: 1px solid #000;
            font-size: 16px;
        }
    }
}

@media(max-width:996px){
    .navigation {
        flex-direction: column;
        gap: 30px;
    }
}

@media(max-width:768px){
    .about__container {
        flex-direction: column;
        img {max-width: 100%;}
    }
}

@media(max-width:576px){
    .navigation .filter {
        gap: 10px;
        flex-direction: column;
        .lable {
            display: flex;
            justify-content: center;
            text-align: center;
        }
        &__item {
            padding: 7px 15px;
       }
    }
    
}